
  <%= render :partial => 'shared/navbar' %>
  <section id="about-sec-1">
    <div id="welcome-header">
      <h1 class="hidden">Welcome to Deforestation</h1>
      <h3 class="hidden">The platform to help the amazon. We track slash and burn and other illegal activities within your area to support your conservation work.</h3>
      <%= link_to  projects_index_path do %>
        <button id="get-started-btn"><div id="get-started-btn-txt">Get Started!</div></button>
      <% end %>
    </div>
    <%= image_tag("lingchor-cut.jpeg", class:"about-header-img") %>
    <div class="custom-shape-divider-bottom-1676245033">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
    </div>
  </section>



  <section id="about-sec-2">
    <div class="about-card">
      <%= image_tag("satellite-cut.jpg", class:"hidden card-img sat-img") %>
      <p class="hidden">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, rerum voluptates. Optio incidunt numquam nam minima quibusdam tenetur quam beatae odio corrupti omnis, ad deserunt ea officia ipsum voluptate. Repellendus.</p>
    </div>

    <div class="about-card">
      <%= image_tag("hossein-saberi-fire.jpg", class:"hidden card-img sat-img") %>
      <p class="hidden">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, rerum voluptates. Optio incidunt numquam nam minima quibusdam tenetur quam beatae odio corrupti omnis, ad deserunt ea officia ipsum voluptate. Repellendus.</p>

    </div>

    <div class="about-card">
      <%= image_tag("berend-leupen-monkey.jpg", class:"hidden card-img sat-img") %>
      <p class="hidden">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, rerum voluptates. Optio incidunt numquam nam minima quibusdam tenetur quam beatae odio corrupti omnis, ad deserunt ea officia ipsum voluptate. Repellendus.</p>

    </div>
  </section>
  <section id="about-sec-3">
    <%= image_tag("donald-giannatti-sat-cut.jpg", class:"about-header-img") %>
    <div class="custom-shape-divider-top-1676245463">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
    </div>
  </section>

  <%= render :partial => 'shared/footer' %>
