<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <%# <%= stylesheet_link_tag "home.css" %>
  <%= stylesheet_link_tag "/app/views/shared/navbar.css" %>
  <%= stylesheet_link_tag "/app/views/shared/_bg-images.scss" %>

  <title>Document</title>
  </head>
    <%= render :partial => 'shared/navbar-signedIn' %>
  <script>
    const NavSidebarSymbole = document.getElementById("nav-not-dropped")
    const NavDroppedSidebarSymbole = document.getElementById("nav-dropped")

  </script>
  <body>

    <% exampleDepartment = ['Peru', 'Brazil', 'Columbia', 'Peru', 'Black forrest'] %>
  <div id="department-headers">
    <h1>Department:</h1>
    <%# <h3><%= current_user.departments_id.name </h3> %>
    <h2 style="margin-left: 60px;"><%=  exampleDepartment.sample %></h2>
  </div>

  <div id="fetch-div">
    <div id="inside-fetch-div">
      <h3>Start here:</h3>
      <button>Search</button>
    </div>
  </div>

    <%= render :partial => 'shared/bg-images' %>
  </body>
  <%= render :partial => 'shared/footer' %>

  <script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
  </script>
</html>

<style>
#department-headers{
  margin: 100px 0 100px 15%;
  color: #9c9c9c;
}
#department-headers h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}
#department-headers h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
}
#fetch-div{
  background-color: rgba(255, 255, 255, 0.874);
  box-shadow: 0px 0px 2px grey;
  border-radius: 10px;
  border: 1px black solid;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0 250px 30%;
}
#fetch-div div{
  width: fit-content;
  margin-top: 6%;
}
#inside-fetch-div > h2{
  width: fit-content !important;
  margin: auto important !important;
}
#fetch-div > div > button{
  margin: 60px auto 0 auto;
  background-color: #F9F0E1;
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
  box-shadow: 0 0 6px 1px black;
}
#fetch-div > div > button:active{
  box-shadow: 0 0 0px 0px black;
}
</style>
